@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.App {
  font-family: 'Questrial', sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-title {
  font-family: 'Questrial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: rgb(0, 0, 0);
    padding-top: 15px;
}
